html {
    background-color: white;
}

body {
    font-family: "Lucida Console", monospace, "Computer Modern Serif", serif;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    /* flex: 1 1 0%; */
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    justify-content: center;
}

.sb-op {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: rgb(191, 191, 191);*/

}

.sb-op a {
    text-decoration: none;
    color: black;
}

.content {
    padding: 0px 50px 0px 50px;
    flex: 5 1 0%;
    background-color: white;
}

.content p, .content ul {
    font-size: 20px;
}

body.about .about a, body.contact .contact a, body.log .log a,
body.home .home a, body.projects .projects a {
    color: orangered;
}

.project-list {
    display: flex;
    flex-direction: column;
}
